calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.ske.ku/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.ske.ku/" name="calculator">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.ske.ku/" schemaLocation="http://localhost:8080/calculator?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"></part>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"></part>
</message>
<message name="UnluckyException">
<part name="fault" element="tns:UnluckyException"></part>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"></part>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"></part>
</message>
<portType name="ComplexCalculator">
<operation name="add">
<input wsam:Action="http://calculator.ske.ku/ComplexCalculator/addRequest" message="tns:add"></input>
<output wsam:Action="http://calculator.ske.ku/ComplexCalculator/addResponse" message="tns:addResponse"></output>
<fault message="tns:UnluckyException" name="UnluckyException" wsam:Action="http://calculator.ske.ku/ComplexCalculator/add/Fault/UnluckyException"></fault>
</operation>
<operation name="multiply">
<input wsam:Action="http://calculator.ske.ku/ComplexCalculator/multiplyRequest" message="tns:multiply"></input>
<output wsam:Action="http://calculator.ske.ku/ComplexCalculator/multiplyResponse" message="tns:multiplyResponse"></output>
</operation>
</portType>
<binding name="ComplexCalculatorPortBinding" type="tns:ComplexCalculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="add">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="UnluckyException">
<soap:fault name="UnluckyException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="multiply">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="calculator">
<port name="ComplexCalculatorPort" binding="tns:ComplexCalculatorPortBinding">
<soap:address location="http://localhost:8080/calculator"></soap:address>
</port>
</service>
</definitions>